$textColor : #000101;
$secondTextColor: #909090;
$pageColor : #ffffff;
//$panelColor: #eff2f6;
$panelColor: #c8cdd2;
$accentColor: #6481ab;
$actionColor: #0047ad;
$headerColor: #242424;
$footerColor: #000000;
$footerTextColor: #989797;