@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximaNovaRegular/proximanova-reg.eot');
  src: url('../fonts/proximaNovaRegular/proximanova-reg.eot') format('embedded-opentype'),
  url('../fonts/proximaNovaRegular/proximanova-reg.woff') format('woff'),
  url('../fonts/proximaNovaRegular/proximanova-reg.ttf') format('truetype'),
  url('../fonts/proximaNovaRegular/proximanova-reg.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximaNovaSemiBold/proximanovaexcn-sbold.eot');
  src: url('../fonts/proximaNovaSemiBold/proximanovaexcn-sbold.eot') format('embedded-opentype'),
  url('../fonts/proximaNovaSemiBold/proximanovaexcn-sbold.woff') format('woff'),
  url('../fonts/proximaNovaSemiBold/proximanovaexcn-sbold.ttf') format('truetype'),
  url('../fonts/proximaNovaSemiBold/proximanovaexcn-sbold.svg#ProximaNovaRegular') format('svg');
  font-weight: 500;
}


$textFont: "ProximaNova";
$headerFont: "FuturaPT";

