html, body {
  font-size: 14px;
}

body {
  color: $textColor;
  font-family: $textFont;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $headerColor;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $headerFont;
}

h1 {
  font-size: 129%;
}

h2 {
  font-size: 129%;
}

ul, ol, dl, p {
  font-weight: inherit;
  font-size: 100%;
}

table {
  color: inherit;
  font-size: 100%;

  tr {
    th, td {
      color: inherit;
      font-size: 100%;
    }

    th {
      font-weight: normal;
      font-family: $headerFont;
    }
  }
}

label {
  color: inherit;
  font-weight: inherit;
}

.alteredText {
  color: $pageColor;

  h1, h2, h3, h4, h5, h6 {
    color: $pageColor;
  }
}

.button {
  font-family: inherit;
  font-size: 86%;
  //font-weight: 500;
  text-transform: uppercase;
  background-color: $actionColor;

  &:hover {
    background-color: $actionColor;
  }
}

.error {
  label {
    color: inherit;
  }

  input {
    color: $errorColor;
  }

  small.error {
    background: $errorColor;
    color: $pageColor;
    text-align: center;
    font-style: normal;
  }
}

.semanticList {
  list-style: none;
  margin: 0;
}

.headerWrapper {
  display: inline-block;

  .stroke {
    margin: 0 11%;
    height: 4px;
    background: $accentColor;
  }

  .header {
    margin-top: 0.5em;
  }
}

.contentPanel {
  background-color: $panelColor;
}

.currencySymbol {
  font-size: 48%;
  vertical-align: super;
  margin-right: 0.2em;
}

#header {
  position: relative;

  .logo {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    width: 75px;
    height: 75px;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .menuToggleAction {
      margin-top: 1em;
      margin-left: 1em;
      display: inline-block;

      background: url('../images/icon_menu.png') no-repeat scroll center center;
      width: 24px;
      height: 14px;
    }
  }
}

#page {
  background: $pageColor;
  position: relative;

  //width: 320px;
  margin: 0 auto;

  > .row {
    max-width: 100%;
  }
}


#footer {
  background: $footerColor;
  color: $footerTextColor;
  text-transform: uppercase;
  text-align: center;
  padding: 2em 0 4em;
  font-family: $headerFont;

  a {
    color: inherit;

    &:hover {
      color: $pageColor;
    }
  }

  .logo {
    font-weight: 700;
    text-align: center;
    opacity: 0.6;
  }

  .logosWrapper {
    font-size: 93%;
  }

  .bottomMenu {
    text-align: right;

    li {
      display: inline-block;
      margin-left: 3em;
      font-size: 81%;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

#menuOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.9);
  text-align: center;
  padding: 4em 0 6em;
  display: block;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;

  &.activated {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  a {
    color: inherit;
  }

  .closeButton {
    position: absolute;
    top: 15px;
    left: 15px;

    width: 27px;
    height: 27px;

    background: url('../images/icon_close_white.png') no-repeat scroll center center;
  }

  .contentWrapper {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
  }

  &.activated .contentWrapper {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  &.closing .contentWrapper {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
  }

  .logo {
    width: 124px;
    margin: 0 auto;
  }

  .menu {
    text-transform: uppercase;
    font-size: 129%;
    margin-top: 2em;

    .item {
      padding: 0.8em 0;
    }
  }
}

.socialShare {
  margin-top: 2em;

  > a {
    margin-left: 1em;
    opacity: 0.6;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}


$range : "#{$screen} and (max-width:#{upper-bound($medium-range)})";
@media #{$range} {
  #footer {
    .logos {
      @include block-grid(2);
      margin-top: 2.5em;
      width: 100%;

      li {
        padding-bottom: 0;

        &:nth-of-type(2n+1) {
          text-align: right;
        }

        &:nth-of-type(2n) {
          text-align: left;
        }

        &:last-child {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media #{$large-up} {
  html, body {
    font-size: 16px;
  }

  h1 {
    font-size: 138%;
  }

  .button {
    font-size: 75%;
  }

  #header {
    .logo {
      width: auto;
      height: auto;
    }
  }
  
  #footer {
    padding: 4em 2em 7em;

    text-align: left;

    .logo {
      text-align: left;
    }



    .logosWrapper {
      margin-top: 1.5em;
      font-size: 81%;

      .logos {
        margin-left: -3px;

        > li {
          display: inline-block;
        }
      }
    }
  }
}

