.section {
  text-align: center;

  .contentContainer {
    display: table;
    width: 100%;
    height: 100%;

    .contentContainerCell {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .headerWrapper {
    margin-top: 2.2em;
    margin-bottom: 1em;
  }
}

.section.intro {
  background-size: cover;

  h1 {
    font-size: 114%;
  }
}

.section.pricing {

  .items, .benefits {
    font-family: $headerFont;
  }

  .items {
    padding-bottom: 2em;
    font-size: 93%;

    li {
      vertical-align: bottom;
    }

    .description {
      text-transform: uppercase;

      * {
        vertical-align: middle;
      }
    }

    .price {
      font-size: 231%;
      font-weight: 700;
    }
  }

  .benefitsWrapper {
    background: #eff2f6;
  }

  .benefits {
    font-size: 86%;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    line-height: 2.5;
    padding: 1em 0;
    margin-bottom: 0;
    margin-left: 2em;

    vertical-align: middle;

    list-style: none;

    li {
      padding-left: 20px;

      background: url('../images/checkmark.png') no-repeat scroll left center;
    }
  }
}

.faqQuestions {

  li {
    overflow: hidden;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $panelColor;

    &:first-child {
      margin-top: 0;
    }

    .icon {
      float: left;
      //display: inline-block;
      border-radius: 100%;
      overflow: hidden;
      font-family: $headerFont;
      font-size: 114%;
      font-weight: bold;
      text-transform: uppercase;
      background: $actionColor;
      color: $pageColor;
      width: 37px;
      height: 37px;
      text-align: center;
      line-height: 37px;
    }

    .question .text, .answer .text {
      margin-left: 60px;
      margin-right: 40px;
      text-align: left;
      display: block;
    }

    .question {
      overflow: hidden;
      cursor: pointer;

      .text {
        font-family: $headerFont;
        font-size: 129%;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
      }
    }

    .expandMark {
      float: right;
      font-size: 200%;
      font-weight: 300;
      line-height: 1;

      .expanded {
        display: none;
      }
    }

    &.expanded .expandMark {
      .collapsed {
        display: none;
      }

      .expanded {
        display: block;
      }
    }



    .answer {
      margin-top: 1em;
      display: none;

      .icon {
        background: #3588ff;
      }

      .text {

      }
    }

    &.expanded .answer {
      display: block;
    }
  }
}

.section.services {
  padding-bottom: 3em;

  > div {
    padding-left: 0;
    padding-right: 0;
  }

  .itemsWrapper {
    overflow: hidden;
  }

  .itemTypes {
    white-space: nowrap;
    overflow: auto;
    margin-bottom: -16px;
    padding-bottom: 16px;

    > li {
      padding-top: 2em;
      padding-left: 2%;
      padding-right: 2%;
      display: inline-block;
      vertical-align: bottom;
      width: 70%;
      white-space: normal;

      >img {
        display: block;
        margin: 0 auto;
      }

      &:first-child {
        margin-left: 15%;
      }

      &:last-child {
        margin-right: 15%;
      }
    }
  }

  .servicesList {
    font-size: 129%;
    font-family: $headerFont;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-left: 0;

    vertical-align: middle;
    list-style: none;

    li {
      padding-left: 35px;

      background: url('../images/checkmark_blue.png') no-repeat scroll left center;
    }
  }
}

@media #{$large-up} {

  .section {

    .contentContainer-large {
      display: table;
      width: 100%;
      height: 100%;

      > .contentContainerCell-large {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .section.intro {
    h1 {
      font-size: 156%;
    }
  }

  .section.pricing {
    padding-bottom: 4em;

    .headerWrapper {
      margin-top: 4em;
    }

    .items {
      @include block-grid(3);
      max-width: 1400px;
      margin: 3em auto 0;

      li {
        display: inline-block;
        margin-left: -4px;
        vertical-align: bottom;
        float: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .benefitsWrapper {
      margin-top: 4em;
    }

    .benefits {

      li {
        display: inline-block;
        margin-left: 2em;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .faqQuestions {
    @include block-grid(3);
    max-width: 1400px;
    margin: 5em auto 0;

    li {
      border-bottom: none;
      vertical-align: top;
      margin-top: 0;
      margin-bottom: 4em;

      .question {
        cursor: inherit;
      }

      .answer {
        display: block;
      }

      .expandMark {
        display: none;
      }
    }
  }

  .section.services {
    padding-bottom: 5em;

    h2 {
      font-size: 188%;
      margin-bottom: 0;
    }

    .headerWrapper {
      margin-top: 4em;
    }

    .itemTypes {
      @include block-grid(3);
      max-width: 1400px;
      margin: 3em auto 0;

      > li {
        display: inline-block;
        margin-left: -5px;
        vertical-align: bottom;
        float: none;
        padding-left: 1em;
        padding-right: 1em;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}