.homepage {

  .section {
    text-align: center;

    .contentContainer {
      display: table;
      width: 100%;
      height: 100%;

      .contentContainerCell {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .headerWrapper {
      margin-top: 2.2em;
      margin-bottom: 1em;
    }
  }

  .section.intro {
    background: url('../images/views/home/intro_bg.jpg') no-repeat scroll 14% top;
    background-size: cover;
    height: 480px;
    font-family: $headerFont;

    .subTitle {
      font-size: 71%;
      text-transform: uppercase;
    }

    h1 {
      font-size: 114%;
    }

    .actionButtons {
      margin-top: 1em;

      .button {
        margin-bottom: 0;
        width: 100%;

        background: transparent;
        border: 1px solid $pageColor;
      }
    }
  }

  .section.howItWorks {
    background: url('../images/views/home/how_it_works_bg.jpg') no-repeat scroll 85% center;
    background-size: cover;
    color: $secondTextColor;
    padding-bottom: 7em;

    h1 {
      color: $pageColor;
    }

    .items {
      display: inline-block;
      text-align: left;
      max-width: 920px;

      li {
        margin-bottom: 2em;

        > .bullet {
          width: 91px;
          height: 91px;
          float: left;
          background: url('../images/diamond.png') no-repeat scroll left center;
          text-align: center;
          line-height: 91px;

          color: $pageColor;
          font-size: 219%;
          font-weight: bold;
          font-family: $headerFont;
        }

        > .content {
          padding-top: 34px;
          margin-left: 134px;
        }

        .title {
          color: $pageColor;
        }
      }
    }
  }

  .section.pricing {

    .items, .benefits {
      font-family: $headerFont;
    }

    .items {
      padding-bottom: 2em;
      font-size: 93%;

      li {
        vertical-align: bottom;
      }

      .description {
        text-transform: uppercase;

        * {
          vertical-align: middle;
        }
      }

      .price {
        font-size: 231%;
        font-weight: bold;
      }
    }

    .benefits {
      font-size: 86%;
      text-align: left;
      display: inline-block;
      text-transform: uppercase;
      line-height: 2.5;
      padding: 1em 0;
      margin-bottom: 0;
      margin-left: 2em;

      vertical-align: middle;

      list-style: none;

      li {
        padding-left: 20px;

        background: url('../images/checkmark.png') no-repeat scroll left center;
      }
    }
  }

  .section.qualityProof {
    h1 {
      font-size: 171%;
    }

    .tilesContainer img {
      width: 100%;
    }

    .textBlock {
      padding-bottom: 2em;
    }
  }

  .section.testimonials {
    font-family: $headerFont;
    padding-bottom: 4em;

    .quotes {
      li {
        margin-top: 1.5em;

        &:first-child {
          margin-top: 0;
        }

        > .author {
          float: left;
          width: 105px;
          height: 105px;
        }

        > .content {
        }
      }

      .quote {
        font-size: 114%;
        text-transform: uppercase;
        line-height: 1;
      }

      .author {
        font-weight: bold;
        font-size: 107%;
        text-transform: uppercase;

        margin-top: 0.5em;
      }
    }
  }

  .section.getStarted {

    h1 {
      font-size: 171%;
    }

    .illustration img {
      width: 100%;
    }

    .description {
      padding-bottom: 2em;

      .button {
        padding: 2em 5em;
      }
    }
  }



  @media #{$large-up} {

    .section {

      .contentContainer-large {
        display: table;
        width: 100%;
        height: 100%;

        > .contentContainerCell-large {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .section.intro {
      height: 890px;

      .subTitle {
        font-size: 94%;
      }

      h1 {
        font-size: 250%;
      }

      .actionButtons {
        font-size: 69%;
        margin-top: 3em;
        max-width: 460px;
      }
    }

    .section.pricing {
      padding-bottom: 4em;

      .headerWrapper {
        margin-top: 4em;
      }

      .items {
        margin-top: 3em;
        @include block-grid(3);

        li {
          display: inline-block;
          margin-left: -4px;
          vertical-align: bottom;
          float: none;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .benefitsWrapper {
        margin-top: 4em;
      }

      .benefits {

        li {
          display: inline-block;
          margin-left: 2em;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .section.howItWorks {
      .headerWrapper {
        margin-top: 4em;
        margin-bottom: 3em;
      }


    }

    .section.qualityProof {
      h1 {
        font-size: 175%;
      }

      .tilesContainer {
        position: relative;

        .tile1, .tile2 {
          position: absolute;
          top: 0;
          height: 100%;
        }

        .tile1 {
          right: 0;
        }

        .tile2 {
          left: 0;
        }
      }
    }

    .section.testimonials {
      padding-bottom: 8em;

      .headerWrapper {
        margin-top: 5em;
        margin-bottom: 4em;
      }

      .quotes {
        @include block-grid(3);

        li {
          text-align: left;
          display: inline-block;
          float: none;
          margin-left: -4px;
          vertical-align: middle;
          margin-top: 0;

          &:first-child {
            margin-left: 0;
          }

          > .content {
            margin-left: 120px;
          }
        }

        .quote {
          font-size: 123%;
        }

        .author {
          font-size: 94%;
        }
      }
    }

    .section.getStarted {
      position: relative;

      h1 {
        font-size: 425%;
        margin-top: 0.2em;
      }

      > .description {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }
    }
  }
}


