.pricing {

  .section {
    text-align: center;
  }

  .section.intro {
    background: url('../images/views/pricing/header.jpg') no-repeat scroll 26% center;
    background-size: cover;

    height: 266px;
  }

  .getStartedAction {
    padding: 1.5em 3em;
    font-size: 171%;
    margin: 0;
    width: 100%;
  }

  .section:last-child {
    padding: 0;

    >div {
      padding: 0;
    }
  }

  .section.pricing {
    padding: 3em 0 5em;
    background: #eff2f6;

    h2 {
      font-size: 214%;
    }

    .priceOptions {
      font-family: $headerFont;
      width: 50%;
      display: inline-block;

      li {
        font-size: 143%;
        text-transform: uppercase;
        margin-top: 2em;

        .name {
          border-bottom: 1px solid $accentColor;
          padding-bottom: 0.5em;
        }

        .price {
          margin-top: 0.5em;
        }
      }
    }

    .additionalItemsPricing {
      margin-top: 4em;
    }
  }

  .section.quickFaq {
    padding: 2em 0 5em;

    h2 {
      font-size: 214%;
      margin-top: 0.3em;
    }

    .faqQuestions {
      margin-top: 1em;
    }
  }


  @media #{$large-up} {
    .section {
      .headerWrapper {
        margin-top: 4em;
      }
    }

    .getStartedAction {
      font-size: 150%;
      margin-top: 2em;
      padding: 1em 3em;
      width: auto;
    }

    .section:last-child {
      padding: 3em 0;

      .getStartedAction {
        margin: 0;
      }
    }

    .section.pricing {
      padding: 5em 0 8em;

      h2 {
        font-size: 188%;
      }

      .priceOptions {
        @include block-grid(3);
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;

        > li {
          display: inline-block;
          margin-left: -5px;
          vertical-align: middle;
          float: none;

          .wrapper {
            width: 50%;
            margin: 0 auto;
          }
        }
      }
    }

    .section.howItWorks {
      padding: 3em 0 5em;

      .items {
        max-width: 1400px;
        margin: 0 auto;

        > li {
          text-align: center;
          display: inline-block;
          margin-left: -5px;
          margin-bottom: 2em;
          vertical-align: top;
          width: 50%;

          .itemWrapper {
            width: 70%;
            margin: 0 auto;
          }

          .number {
            border-radius: 100%;
            display: inline-block;
            background: $textColor;
            color: $pageColor;
            font-weight: bold;
            font-family: $headerFont;
            font-size: 150%;
            width: 37px;
            height: 37px;
            line-height: 37px;
          }

          .title {
            margin-top: 1em;
            font-size: 129%;
          }

          .content {
            margin-top: 2em;
          }
        }
      }
    }

    .section.quickFaq {
      background: #eff2f6;

      h2 {
        font-size: 188%;
      }
    }
  }
}


