#content.getStartedSize {
  background: url('../images/views/get_started/bg.jpg') no-repeat scroll 11% 0;
  background-size: cover;

  .section {
    text-align: center;
  }

  .section.itemsSizeForm {
    margin-top: 110px;
    padding-bottom: 3em;

    .sectionContentWrapper {
      display: inline-block;
    }

    form.itemsSizeForm {
      .itemTypesWrapper > div {
        margin-top: 1.5em;
        padding-top: 1.5em;
        padding-bottom: 2em;
        border-top: 1px solid rgba(255,255,255, 0.2);

        &:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: none;
        }
      }

      .formWrapper {
        margin-top: 4em;
      }

      select {
        //background: transparent;
        //color: inherit;
        width: 35%;
      }
    }

    .sizesHint {
      margin-top: 3em;

      .itemsSizes {
        li {
          display: inline-block;
          margin-left: 6%;
          margin-right: -5px;
          max-width: 44%;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          .title {
            text-transform: uppercase;
            font-family: $headerFont;
            margin-top: 1.2em;
            letter-spacing: 0.2em;
            font-size: 113%;
          }
        }
      }
    }

    .footnote {
      margin-top: 2em;
      font-size: 125%;
    }
  }

  @media #{$large-up} {

    .section.itemsSizeForm {
      margin-top: 200px;
      padding-bottom: 8em;

      form.itemsSizeForm .itemTypesWrapper {
        max-width: 1100px;
        margin: 0 auto;

        >div {
          margin-top: 0;
          padding-top: 0;
          display: inline-block;
          vertical-align: top;
          margin-left: -5px;
          float: none;
          border-top: none;
          border-left: 1px solid rgba(255,255,255, 0.2);

          &:first-child {
            margin-left: 0;
            border-left: none;
          }
        }
      }

      .footnote {
        margin-top: 6.5em;
      }
    }
  }
}


