.faqs {

  .section {
    text-align: center;
  }

  .section.intro {
    background: url('../images/views/faqs/header.jpg') no-repeat scroll 42% center;
    background-size: cover;

    height: 266px;
  }

  .section.introText {
    padding-top: 5em;
    padding-bottom: 0;



    p {
      max-width: 1400px;
      margin: 0 auto;
    }
  }

  .section.questionsSection {
    padding: 3.5em 0 8em;


  }

  .section.tilesSection {
    .tile {
      height: 195px;
      background-size: cover;
      background-repeat: no-repeat;

    }

    .tile1 {
      background-image: url('../images/views/about_us/tile_1.jpg');
      background-position: 36% center;
    }

    .tile2 {
      background-image: url('../images/views/about_us/tile_2.jpg');
      background-position: 72% center;
    }

    .tile3 {
      background-image: url('../images/views/about_us/tile_3.jpg');
      background-position: 73% center;
    }
  }


  @media #{$large-up} {

    .section.questionsSection {

      .questions {
        @include block-grid(3);
        max-width: 1400px;
        margin: 5em auto 0;

        li {
          border-bottom: none;
          vertical-align: top;
          margin-top: 0;
          margin-bottom: 4em;

          .question {
            cursor: inherit;
          }
          
          .answer {
            display: block;
          }

          .expandMark {
            display: none;
          }
        }
      }
    }
  }
}


