.accessories {

  >div {
    padding-bottom: 75px;
  }

  .section.intro {
    background: url('../images/views/accessories/header.jpg') no-repeat scroll 0% center;
    background-size: cover;

    height: 266px;
  }

  .section.accessories {
    padding-bottom: 4em;

    .itemsPages {
      >li {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    .items {
      .button {
        margin-bottom: 0;
      }

      li {
        margin-top: 2em;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .processControls {
    position: absolute;
    bottom: 0;
    width: 100%;

    &.sticky {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 50;
    }
  }

  @media #{$large-up} {
    .section {
      .headerWrapper {
        margin-top: 4em;
      }
    }

    .section.accessories {
      padding-bottom: 4em;

      .itemsPages {

        .slick-slide {
          height: auto;
          padding: 0 120px;
        }

        .slick-prev, .slick-next {
          position: absolute;
          height: 66px;
          width: 46px;
          top: 50%;
          margin-top: -33px;
          margin-bottom: 0;
          color: transparent;
          background: transparent no-repeat scroll center center;
          outline: none;
        }

        .slick-prev {
          background-image: url('../images/slider_arrow_left.png');
          left: 50px;
        }

        .slick-next {
          background-image: url('../images/slider_arrow_right.png');
          right: 50px;
        }
      }


      .items {
        @include block-grid(2);
        max-width: 1400px;
        margin: 2em auto 0;

        li {
          display: inline-block;
          margin-left: -5px;
          margin-top: 0;
          vertical-align: top;
          float: none;

          &:first-child {
            margin-left: 0;
          }

          .photo {
            float: left;
            width: 50%;
          }

          .description {
            margin-left: 50%;
            text-align: left;
          }
        }
      }
    }
  }
}


