include _layout.jade
+document('accessories')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 Now Complete Your Look

    .row.section.accessories
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h1.header Accessories

            .row
                ul.semanticList.itemsPages
                    li
                        ul.items.semanticList
                            li
                                .photo
                                    img(src="/images/views/accessories/item_1.jpg")
                                .description
                                    h6 No-Show Sock
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

                            li
                                .photo
                                    img(src="/images/views/accessories/item_2.jpg")
                                .description
                                    h6 Knit Shoe Bag
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

                            li
                                .photo
                                    img(src="/images/views/accessories/item_3.jpg")
                                .description
                                    h6 Microfiber Cloth
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD
                            li
                                .photo
                                    img(src="/images/views/accessories/item_4.jpg")
                                .description
                                    h6 Leather Wipes
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

                    li
                        ul.items.semanticList
                            li
                                .photo
                                    img(src="/images/views/accessories/item_3.jpg")
                                .description
                                    h6 Microfiber Cloth
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

                            li
                                .photo
                                    img(src="/images/views/accessories/item_4.jpg")
                                .description
                                    h6 Leather Wipes
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

                            li
                                .photo
                                    img(src="/images/views/accessories/item_2.jpg")
                                .description
                                    h6 Knit Shoe Bag
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

                            li
                                .photo
                                    img(src="/images/views/accessories/item_1.jpg")
                                .description
                                    h6 No-Show Sock
                                    p.
                                        Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.

                                    a.button.actionAddToCart(href='#') $50 - ADD

    .row.processControls.alteredText
        span All Done?
        a.button.actionProceed(href='payment-review.html') Proceed To Checkout