include _layout.jade
+document('contactUs', "//maps.googleapis.com/maps/api/js?v=3.exp")
    .row.section.map
        //.columns.small-12
        div
            #map-canvas

    .row.section.contactsSection
        .columns.small-12
            .row
                .columns.small-12.large-7
                    p.
                        Donec tincidunt lorem elementum, pulvinar magna a, sagittis enim. Donec sed neque sed elit sagittis cursus sed ut orci. Sed accumsan ipsum massa, in efficitur ligula aliquam nec. Morbi sed mi sit ameturna congue consequat. Donec tincidunt lorem elementum, pulvinar magna a, sagittis enim.

                    .contacts.mainContact
                        .contact
                            h2.contactTitle Office
                            p
                                | 123 Broadway Ave
                                br
                                | New York, NY 11211
                            p
                                | 212.212.3322
                                br
                                | 212.432.5566
                .columns.large-1
                .columns.small-12.large-4
                    ul.semanticList.contacts.otherContacts
                        li.contact
                            h3.contactTitle Support
                            a(href='mailto:support@emailaddress.com') support@emailaddress.com

                        li.contact
                            h3.contactTitle Careers
                            a(href='mailto:careers@emailaddress.com') careers@emailaddress.com

                        li.contact
                            h3.contactTitle Info
                            a(href='mailto:info@emailaddress.com') info@emailaddress.com

                        li.contact
                            h3.contactTitle Public Relations
                            a(href='mailto:pr@emailaddress.com') pr@emailaddress.com