include _layout.jade
+document('faqs')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 FAQs

    .row.section.introText
        .columns.small-12
            p.
                Donec vulputate nibh diam, commodo mollis lectus semper at. Nunc dignissim, diam in auctor congue, massa felis suscipit arcu, at sagittis erat tortor eu mauris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
    .row.section.questionsSection
        .columns.small-12
            ul.semanticList.questions
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
