include _layout.jade
+document('getStarted')
    .row.section.hide-for-large-up.alteredText.orderFormSection.mobile
        .columns.small-12
            h1 How Many Shoes Or Handbags Are You Sending Us?

            form.orderForm(method='post', action='api/calcOrder.php')
                table
                    tr
                        th Women's
                        td.compositeField
                            button.upDownButton.increase
                            span.value 0
                            button.upDownButton.decrease
                            input(type='hidden', name='womenShoesQuantity', value="0")
                    tr
                        th Men's
                            .hint
                                .icon
                                .content
                                    .arrow
                                    .container
                                        h6.title Why are men’s shoes more expensive
                                        div.
                                            Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.
                                            Aenean metus leo, bibendum quis sem non, placer at auctor lacus. Mauris varius, erat eu plac erat egestas.
                        td.compositeField
                            button.upDownButton.increase
                            span.value 0
                            button.upDownButton.decrease
                            input(type='hidden', name='menShoesQuantity', value="0")
                    tr
                        th Handbags
                        td.compositeField
                            button.upDownButton.increase
                            span.value 0
                            button.upDownButton.decrease
                            input(type='hidden', name='handbagsQuantity', value="0")
                    tr.totalRow
                        th Total
                        td
                            span.value
                                span.currencySymbol $
                                span.digit 0

    .row.section.hide-for-medium-down.alteredText.orderFormSection.desktop
        .columns.small-12
            h1 How Many Shoes Or Handbags Are You Sending Us?

            .orderFormWrapper
                .circleWrapper.secondaryCircleWrapper
                    .circleSection.half.topHalf
                        .circle
                    .verticalSpacer
                    .circleSection.quarter.bottomLeftQuarter
                        .circle
                    .circleSection.quarter.bottomRightQuarter
                        .circle
                .circleWrapper.mainCircleWrapper
                    .circle

                form.orderForm(method='post', action='api/calcOrder.php')
                    .item.womenQuantityContainer
                        .upDownButton.double
                            button.upDownButton.increase(href='javascript:void(0);')
                            button.upDownButton.decrease(href='javascript:void(0);')
                        .valueContainer
                            .fieldLabel Women's
                            div
                                span.value 0
                            input(type='hidden', name='womenShoesQuantity', value="0")
                    .item.totalContainer
                        span.value
                            span.currencySymbol $
                            span 0
                    .item.menQuantityContainer
                        .valueContainer
                            .fieldLabel Men's
                                .hint
                                    .icon
                                    .content
                                        .arrow
                                        .container
                                            h6.title Why are men’s shoes more expensive
                                            div.
                                                Durabitur non sem et turpiss gra vida porta eget sit amet eros am lobortis.
                                                Aenean metus leo, bibendum quis sem non, placer at auctor lacus. Mauris varius, erat eu plac erat egestas.
                            div
                                span.value 0
                                input(type='hidden', name='menShoesQuantity', value="0")
                        .upDownButton.double
                            button.upDownButton.increase(href='javascript:void(0);')
                            button.upDownButton.decrease(href='javascript:void(0);')

                    .bottomRow
                        .item.handbagsQuantityContainer
                            .valueContainer
                                .fieldLabel Handbags
                                div
                                    span.value 0
                                    input(type='hidden', name='handbagsQuantity', value="0")
                            .upDownButton.double.horizontal
                                button.upDownButton.increase(href='javascript:void(0);')
                            button.upDownButton.decrease(href='javascript:void(0);')
    .row.processControls.alteredText
        span Price looks good!
        a.button.actionProceed(href='#') Next Step