include _layout.jade
+document('homepage')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    .subTitle Luxury Shoe Repair
                    h1 Delivered Directly To Your Door
                    .row
                        .actionButtons.columns.small-8.small-centered.large-12
                            .row.collapse
                                .columns.large-6
                                    a.button.optionButton(href='#') Watch The Video
                                .columns.large-6
                                    a.button.optionButton(href='/get-started.html') Get Started
    .row.section.services
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h2.hide-for-large-up.header Any Repair You Need.
                        br
                        | One Concierge Price.
                    h2.hide-for-medium-down.header Any Repair You Need. One Concierge Price.

            .itemsWrapper
                ul.semanticList.itemTypes
                    li
                        img(src="/images/views/home/pricing_shoes_mens.jpg")
                        ul.servicesList
                            li Lifts
                            li Broken Hills
                            li Soles
                            li Backbinding
                            li Backlining
                            li Insoles
                            li All Others
                    li
                        img(src="/images/views/home/pricing_shoes_womens.jpg")
                        ul.servicesList
                            li Heels
                            li Soles
                            li Backbinding
                            li Backlining
                            li Taps
                            li Insoles
                            li All Others
                    li
                        img(src="/images/views/home/pricing_bag.jpg")
                        ul.servicesList
                            li Cleaning
                            li Reconditioning
                            li Stain Removal
                            li Refinishing
                            li Fying
                            li Zippers
                            li All Others


    .row.section.howItWorks.hide-for-medium-down
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h1.header  How It Works

            ul.semanticList.items
                li
                    .bullet 1
                    .content
                        h6.title Order Online (If you have 30 seconds free, you can do this right now)

                li
                    .bullet 2
                    .content
                        h6.title Your Custom Concierge Box Sent to You (Zero Hassles and Zero Cost)

                li
                    .bullet 3
                    .content
                        h6.title Your Items Are Repaired in Our Exclusive 5,500 Square Foot Facility (By the only Cobblers you should trust)
                li
                    .bullet 4
                    .content
                        h6.title Free Return Delivery (Your items safely return to you)

    .row.section.qualityProof
        .columns.small-12
            .row.tilesContainer
                .columns.small-12.large-6
                    .row
                        img(src="/images/views/home/quality_proof_tile_1.jpg")
                .columns.small-12.large-6.textBlock.tile1
                    .contentContainer-large
                        .contentContainerCell-large
                            .headerWrapper
                                .stroke
                                h1.header  Four Generations Of The World's Best Cobblers

                            p.
                                In accumsan dictum pretium. Suspe nd is ase luctus ante nec nulla lobortis fini Nullam eleifend elit et turpis da pibus, sit amet dapibus nulla feugiat.
            .row.tilesContainer
                .columns.small-12.large-6.large-push-6.beforeAndAfterPhotos
                    .row.collapse
                        .columns.small-6
                            img(src="/images/views/home/quality_proof_tile_2.jpg")
                        .columns.small-6
                            img(src="/images/views/home/quality_proof_tile_2.jpg")
                    .row.collapse
                        .columns.small-6
                            img(src="/images/views/home/quality_proof_tile_2.jpg")
                        .columns.small-6
                            img(src="/images/views/home/quality_proof_tile_2.jpg")
                .columns.small-12.large-6.large-pull-6.textBlock.tile2
                    .contentContainer-large
                        .contentContainerCell-large
                            .headerWrapper
                                .stroke
                                h1.header  Before & After

                            p.
                                In accumsan dictum pretium. Suspe nd is ase luctus ante nec nulla lobortis fini Nullam eleifend elit et turpis da pibus, sit amet dapibus nulla feugiat.
    .row.contentPanel.section.testimonials
        .columns.small-12
            .headerWrapper
                .stroke
                h1.header  Testimonials

            ul.quotes.semanticList
                li
                    .author.hide-for-medium-down
                        img(src="/images/views/home/testimonials_christina_h.png")
                    .content
                        .quote I wouldn't repair my  shoes with anyone else
                        .author Christina H
                li
                    .author.hide-for-medium-down
                        img(src="/images/views/home/testimonials_john_s.png")
                    .content
                        .quote Amazing Quality And Fast Turnaround
                        .author John S
                li
                    .author.hide-for-medium-down
                        img(src="/images/views/home/testimonials_catha_m.png")
                    .content
                        .quote Excellent Customer Service
                        .author Catha M

    .row.section.getStarted
        .columns.small-12.large-4.illustration
            .row
                img(src="/images/views/home/get_started.jpg")
        .columns.small-12.large-8.description
            .contentContainer-large
                .contentContainerCell-large
                    .headerWrapper
                        .stroke
                        h1.header  Get Started
                    p.
                        In accumsan dictum pretium. Suspe nd is ase luctus ante nec nulla lobortis fini Nullam eleifend elit et turpis da pibus, sit amet dapibus nulla feugiat.

                    a.button(href='#') Get Started

