include _layout.jade
+document('homepage')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    .subTitle Luxury Shoe Repair
                    h1 Delivered Directly To Your Door
                    .row
                        .actionButtons.columns.small-8.small-centered
                            a.button.optionButton(href='#') Watch The Video
                            a.button.optionButton(href='#') Get Started
    .row.section.pricing
        .columns.small-12
            .headerWrapper
                .stroke
                h1.header Simple Pricing

            ul.items.semanticList
                li
                    img(src="/images/views/home/pricing_shoes_mens.jpg")
                    .description
                        | From
                        span.price  $60
                        |  / Pair
                li
                    img(src="/images/views/home/pricing_shoes_womens.jpg")
                    .description
                        | From
                        span.price  $25
                        |  / Pair
                li
                    img(src="/images/views/home/pricing_bag.jpg")
                    .description
                        | From
                        span.price  $150

            .contentPanel.row
                .benefitsWrapper.columns.small-12
                    ul.benefits
                        li All Repairs Included
                        li Free Shipping
                        li Money-Back Guarantee
    .row.section.howItWorks.hidden-for-small-up
        .columns.small-12
    .row.section.qualityProof
        .columns.small-12
            .row
                .columns.small-12
                    .row
                        img(src="/images/views/home/quality_proof_tile_1.jpg")
                .columns.small-12.textBlock
                    .headerWrapper
                        .stroke
                        h1.header  Four Generations Of The World's Best Cobblers

                    p.
                        In accumsan dictum pretium. Suspe nd is ase luctus ante nec nulla lobortis fini Nullam eleifend elit et turpis da pibus, sit amet dapibus nulla feugiat.
            .row
                .columns.small-12
                    .row
                        img(src="/images/views/home/quality_proof_tile_2.jpg")
                .columns.small-12.textBlock
                    .headerWrapper
                        .stroke
                        h1.header  Before & After

                    p.
                        In accumsan dictum pretium. Suspe nd is ase luctus ante nec nulla lobortis fini Nullam eleifend elit et turpis da pibus, sit amet dapibus nulla feugiat.
    .row.section.testimonials.contentPanel
        .columns.small-12
            .headerWrapper
                .stroke
                h1.header  Testimonials

            ul.quotes.semanticList
                li
                    .quote I wouldn't repair my  shoes with anyone else
                    .author Christina H
                li
                    .quote Amazing Quality And Fast Turnaround
                    .author John S
                li
                    .quote Excellent Customer Service
                    .author Catha M

    .row.section.getStarted
        .columns.small-12
            .row
                img(src="/images/views/home/get_started.jpg")
        .columns.small-12
            .headerWrapper
                .stroke
                h1.header  Get Started
            p.
                In accumsan dictum pretium. Suspe nd is ase luctus ante nec nulla lobortis fini Nullam eleifend elit et turpis da pibus, sit amet dapibus nulla feugiat.

            a.button(href='#') Get Started

