include _layout.jade
+document('marketplace')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 Marketplace

    .row.section.comingSoon
        .columns.small-12
            div
                .headerWrapper
                    h1.header Coming soon

            div.
                Donec vulputate nibh diam,
                commodo mollis lectus semper at. Nunc dignissim, diam in auctor congue, massa felis suscipit arcu, at sagittis erat tortor eu mauris. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.