include _layout.jade
+document('myAccount')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 My Account

    .row.section.ordersList
        .columns.small-12
            ul.orders.semanticList
                li
                    img(src="/images/views/my_account/order_1.jpg")
                    .orderDetails
                        .amount  $375
                        .date Feburary 20th 2015
                        ul.semanticList.orderItemTypes
                            li
                                span.quantity 5
                                | Women's Shoes
                            li
                                span.quantity 2
                                | Men's Shoes
                            li
                                span.quantity 1
                                | Handbag

                li
                    img(src="/images/views/my_account/order_2.jpg")
                    .orderDetails
                        .amount  $100
                        div January 10th 2015
                        ul.semanticList.orderItemTypes
                            li
                                span.quantity 2
                                | Handbags
                li
                    img(src="/images/views/my_account/order_3.jpg")
                    .orderDetails
                        .amount  $250
                        div December 5th 2014
                        ul.semanticList.orderItemTypes
                            li
                                span.quantity 2
                                | Men's Shoes
                            li
                                span.quantity 1
                                | Handbag
                li
                    img(src="/images/views/my_account/order_4.jpg")
                    .orderDetails
                        .amount  $175
                        div October 15th 2014
                        ul.semanticList.orderItemTypes
                            li
                                span.quantity 1
                                | Women's Shoes
                            li
                                span.quantity 1
                                | Men's Shoes

                li
                    img(src="/images/views/my_account/order_5.jpg")
                    .orderDetails
                        .amount  $375
                        div March 18th 2014
                        ul.semanticList.orderItemTypes
                            li
                                span.quantity 3
                                | Women's Shoes
