include _layout.jade
+document('myShoes')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 My Shoes

    .row.contentPanel.section.orderProgress
        .columns.small-12
            ul.semanticList.steps
                li.complete
                    .progressorDot
                    .title Package sent
                li.complete
                    .progressorDot
                    .title  Shoes being cobbled
                li
                    .progressorDot
                    .title  Shoes sent back

    .row.section.orderContent
        .columns.small-12
            .orderDate
                | Feburary 20th 2015

            ul.semanticList.items
                li.item
                    .row.itemHeader
                        .columns.small-2.quantity
                            | 5
                        .columns.small-8.name
                            | Women's shoes
                        .columns.small-2.expandMark
                            .collapsed +
                            .expanded -

                    .itemDetails
                        h6.title Yellow Prada Handbag
                        ul.semanticList.photos
                            li
                                .photo
                                    a(href='#')
                                        img(src='/images/views/my_shoes/item_1_photo_1.jpg')
                                .name
                                    a(href='#') Prada_shot_body.jpg

                            li
                                .photo
                                    a(href='#')
                                        img(src='/images/views/my_shoes/item_1_photo_1.jpg')
                                .name
                                    a(href='#') Prada_shot_body.jpg
                        .comment.
                            Mauris faucibus ornare tincidunt. Vestibulum ornare neque neque.
                            Morbi pulvinar consectetur elementum.
                            Etiam ut lectus accumsan, egestas leo id, placerat nulla.
                        .storeReply
                            .photo
                                .photoWrapper
                                    img(src='/images/views/about_us/team_member_1.jpg')
                            .content
                                span.author Beth Says:
                                | I see it. This is an easy fix. Won't effect the original estimate. Check out the photos.
                li.item
                    .row.itemHeader
                        .columns.small-2.quantity
                            | 2
                        .columns.small-8.name
                            | Men's shoes
                        .columns.small-2.expandMark
                            .collapsed +
                            .expanded -

                    .itemDetails
                        h6.title Yellow Prada Handbag
                        ul.semanticList.photos
                            li
                                .photo
                                    a(href='#')
                                        img(src='/images/views/my_shoes/item_1_photo_1.jpg')
                                .name
                                    a(href='#') Prada_shot_body.jpg

                            li
                                .photo
                                    a(href='#')
                                        img(src='/images/views/my_shoes/item_1_photo_1.jpg')
                                .name
                                    a(href='#') Prada_shot_body.jpg
                        .comment.
                            Mauris faucibus ornare tincidunt. Vestibulum ornare neque neque.
                            Morbi pulvinar consectetur elementum.
                            Etiam ut lectus accumsan, egestas leo id, placerat nulla.
                        .storeReply
                            .photo
                                .photoWrapper
                                    img(src='/images/views/about_us/team_member_1.jpg')
                            .content
                                span.author Beth Says:
                                | I see it. This is an easy fix. Won't effect the original estimate. Check out the photos.

                li.item
                    .row.itemHeader
                        .columns.small-2.quantity
                            | 1
                        .columns.small-8.name
                            | Handbag
                        .columns.small-2.expandMark
                            .collapsed +
                            .expanded -
                    .itemDetails
                        h6.title Yellow Prada Handbag
                        ul.semanticList.photos
                            li
                                .photo
                                    a(href='#')
                                        img(src='/images/views/my_shoes/item_1_photo_1.jpg')
                                .name
                                    a(href='#') Prada_shot_body.jpg

                            li
                                .photo
                                    a(href='#')
                                        img(src='/images/views/my_shoes/item_1_photo_1.jpg')
                                .name
                                    a(href='#') Prada_shot_body.jpg
                        .comment.
                            Mauris faucibus ornare tincidunt. Vestibulum ornare neque neque.
                            Morbi pulvinar consectetur elementum.
                            Etiam ut lectus accumsan, egestas leo id, placerat nulla.
                        .storeReply
                            .photo
                                .photoWrapper
                                    img(src='/images/views/about_us/team_member_1.jpg')
                            .content
                                span.author Beth Says:
                                | I see it. This is an easy fix. Won't effect the original estimate. Check out the photos.
