include _layout.jade
+document('pricing')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 Pricing

    .row.section.services
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h2.hide-for-large-up.header Any Repair You Need.
                        br
                        | One Concierge Price.
                    h2.hide-for-medium-down.header Any Repair You Need. One Concierge Price.


            .itemsWrapper
                ul.semanticList.itemTypes
                    li
                        img(src="/images/views/home/pricing_shoes_mens.jpg")
                        ul.servicesList
                            li Lifts
                            li Broken Hills
                            li Soles
                            li Backbinding
                            li Backlining
                            li Insoles
                            li All Others
                    li
                        img(src="/images/views/home/pricing_shoes_womens.jpg")
                        ul.servicesList
                            li Heels
                            li Soles
                            li Backbinding
                            li Backlining
                            li Taps
                            li Insoles
                            li All Others
                    li
                        img(src="/images/views/home/pricing_bag.jpg")
                        ul.servicesList
                            li Cleaning
                            li Reconditioning
                            li Stain Removal
                            li Refinishing
                            li Fying
                            li Zippers
                            li All Others

    .row.section.pricing
        .columns.small-12
            .firstItemPricing
                h2 First Item
                ul.semanticList.priceOptions
                    li
                        .wrapper
                            .name Men's
                            .price $135 / Pair

                    li
                        .wrapper
                            .name Women's
                            .price $85 / Pair

                    li
                        .wrapper
                            .name Handbags
                            .price $235 / Item

            .additionalItemsPricing
                h2.hide-for-large-up Additional
                    br
                    | Items Cost:
                h2.hide-for-medium-down Additional Items Cost:
                ul.semanticList.priceOptions
                    li
                        .wrapper
                            .name Men's
                            .price $135 / Pair

                    li
                        .wrapper
                            .name Women's
                            .price $85 / Pair

                    li
                        .wrapper
                            .name Handbags
                            .price $235 / Item

    .row.hide-for-medium-down.section.howItWorks
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h2.header  How It Works

            ul.semanticList.items
                li.item
                    .itemWrapper
                        .number 1
                        h3.title Details Email
                        p.content.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla.
                            Vestibulum sit amet augue ligula. Nam rhoncus dui ac porttitor luctus. Nullam auctor tur.
                li.item
                    .itemWrapper
                        .number 2
                        h3.title Delivery Box
                        p.content.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla.
                            Vestibulum sit amet augue ligula. Nam rhoncus dui ac porttitor luctus. Nullam auctor tur.
                            Vestibulum sit amet augue ligula. Nam rhoncus dui ac porttitor luctus. Nullam auctor tur.
                li.item
                    .itemWrapper
                        .number 3
                        h3.title Personal Concierge
                        p.content.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla.
                            Vestibulum sit amet augue ligula. Nam rhoncus dui ac porttitor luctus. Nullam auctor tur.
                li.item
                    .itemWrapper
                        .number 4
                        h3.title Receive Yout Shoes
                        p.content.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla.
                            Vestibulum sit amet augue ligula. Nam rhoncus dui ac porttitor luctus. Nullam auctor tur.

            a.button.getStartedAction(href='get-started.html') Get Started

    .row.section.quickFaq
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h2.header  Quick Faq

            ul.semanticList.faqQuestions
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.
                li.item
                    .question
                        .icon Q
                        .expandMark
                            .collapsed +
                            .expanded -
                        span.text Eibulum Sit Am Augue
                    .answer
                        .icon A
                        span.text.
                            Phasellus sagittis ipsum ligula, eget lobortis augue aliquet eu. Integer convallis pretium nulla. Vestibulum sit amet augue ligula. Nam rhoncus dui acporttitor luctus. Nullam auctor rutrum efficitur.

    .row.section
        .columns.small-12
            a.button.getStartedAction(href='get-started.html') Get Started
