include _layout.jade
+document('pricing')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 Pricing

    .row.section.pricing
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h1.header Simple Pricing

            ul.items.semanticList
                li
                    img(src="/images/views/home/pricing_shoes_mens.jpg")
                    .description
                        span From
                        span.price  $60
                        span  / Pair
                li
                    img(src="/images/views/home/pricing_shoes_womens.jpg")
                    .description
                        span From
                        span.price  $25
                        span  / Pair
                li
                    img(src="/images/views/home/pricing_bag.jpg")
                    .description
                        span From
                        span.price  $150

            .contentPanel.row.benefitsWrapper
                .columns.small-12
                    ul.benefits
                        li All Repairs Included
                        li Free Shipping
                        li Money-Back Guarantee

    .row.section.whatHappensNext
        .columns.small-12
            div
                .headerWrapper
                    .stroke
                    h1.header  What Happens Next

            ul.semanticList.items
                li
                    img(src='/images/views/pricing/what_happens_next_details_email.png')
                    .content
                        h6.title Details Email
                        p.
                            Durabitur non sem et turpiss gravida porta eget sit amet eros am lobortis.

                li
                    img(src='/images/views/pricing/what_happens_next_delivery_box.png')
                    .content
                        h6.title Delivery Box
                        p.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.

                li
                    img(src='/images/views/pricing/what_happens_next_personal_concierge.png')
                    .content
                        h6.title Personal Concierge
                        p.
                            Durabitur non sem et turpiss gravida porta eget sit amet eros am lobortis.

                li
                    img(src='/images/views/pricing/what_happens_next_receive_your_shoes.png')
                    .content
                        h6.title Details Email
                        p.
                            Nam tincidunt, est nec accumsan sodales, ligula justo rhon cus mauris

