include _layout.jade
+document('privacyAndTerms')
    .row.section.intro.alteredText
        .columns.small-12
            .contentContainer
                .contentContainerCell
                    h1 Privacy And Terms

    .row.section.privacyAndTerms
        .columns.small-12
            p.
                Phasellus tellus ex, lobortis sit amet aliquet quis, dignissim eu ipsum. Donec fringilla mollis neque, ac efficitur mi faucibus at. Sed odio enim, vulputate a congue quis, interdum sed libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus pretium posuere dignissim. Integer venenatis sodales tincidunt. Ut rutrum laoreet velit, sed aliquet massa. Mauris mattis leo nulla, nec bibendum ante eleifend sed. Cras placerat sem in eros sodales semper. Curabitur id tempor lorem. Aenean vitae ante quis sem auctor porttitor id eu neque.
            p.
                Aliquam lacinia tristique nulla, quis malesuada velit pulvinar quis. Fusce luctus ut augue ullamcorper sodales. Phasellus sodales venenatis nisi ac egestas. Nam lectus tellus, imperdiet id metus luctus, pellentesque vulputate dolor. Duis id suscipit nisi. Duis at massa vulputate nulla convallis venenatis sed sit amet nisi. Nam maximus dapibus felis. Aliquam gravida, massa eget tincidunt mattis, neque lacus molestie elit, quis dapibus risus quam a turpis. Nunc sollicitudin eget neque sit amet dictum. Cras sollicitudin purus ut feugiat rhoncus. Maecenas ac commodo quam, eu varius risus. Nunc eget blandit nulla, non sagittis nisl. Duis aliquam elementum nunc a sagittis.
            p.
                Suspendisse sit amet rutrum mi. Nam iaculis facilisis congue. Integer condimentum nisi vitae elit ultrices, ut suscipit ex molestie. Quisque feugiat lorem eu ipsum faucibus placerat. Pellentesque tincidunt id magna eget laoreet. Aenean varius lacus quam, eu auctor massa semper non. Suspendisse luctus metus id diam dignissim, a congue libero semper. Maecenas ornare viverra nisl a euismod.
            p.
                Sed non tellus congue, sagittis augue pretium, vulputate purus. Morbi in elit semper, faucibus sem ac, pellentesque ligula. Aenean vitae placerat enim. Phasellus eget ligula gravida, viverra velit eu, pellentesque lectus. Aenean in placerat leo. Etiam a vestibulum ex. Nullam ultricies, purus quis viverra congue, metus tellus tincidunt lorem, et feugiat ligula diam accumsan nulla. Quisque fermentum dui quis porta feugiat. Praesent finibus dui sit amet sem lobortis, convallis egestas lacus fermentum. Proin non efficitur sem, ut dictum urna. Cras id libero elit. Curabitur nec hendrerit neque.
            p.
                Pellentesque orci leo, commodo at libero in, porttitor suscipit ante. Morbi ultricies sem sed iaculis blandit. Vestibulum accumsan lacus quis sapien egestas tempor. Curabitur eget ligula aliquet, tincidunt mi ac, hendrerit quam. Maecenas et felis condimentum, imperdiet nibh rutrum, porttitor neque. Vivamus vitae rhoncus ex, sollicitudin tincidunt nisl. Pellentesque at tortor diam. Mauris vulputate est lacus, eu feugiat nulla fringilla sed. Aenean aliquam ligula eget laoreet commodo. Maecenas id purus viverra, faucibus lacus id, lacinia ligula. Suspendisse eget lorem metus. Etiam erat ipsum, placerat at lacus mollis, fringilla rhoncus sapien. Phasellus iaculis dui vitae rhoncus maximus.
            p.
                Aliquam lacinia tristique nulla, quis malesuada velit pulvinar quis. Fusce luctus ut augue ullamcorper sodales. Phasellus sodales venenatis nisi ac egestas. Nam lectus tellus, imperdiet id metus luctus, pellentesque vulputate dolor. Duis id suscipit nisi. Duis at massa vulputate nulla convallis venenatis sed sit amet nisi. Nam maximus dapibus felis. Aliquam gravida, massa eget tincidunt mattis, neque lacus molestie elit, quis dapibus risus quam a turpis. Nunc sollicitudin eget neque sit amet dictum. Cras sollicitudin purus ut feugiat rhoncus. Maecenas ac commodo quam, eu varius risus. Nunc eget blandit nulla, non sagittis nisl. Duis aliquam elementum nunc a sagittis.